

main > .propagandas{
    /*background-color: aqua;*/
    height: 580px;
    max-height: 1200px;
    width: 200px;
    max-width: 200px;
    max-height: auto;
    overflow-y: scroll;
}

main > .propagandas > div {
    width: 98%;
    max-height: 35%px;
    margin: auto auto;
    margin-bottom: 4%;
    /*background-color: white;
    border-radius: 5px;
    box-shadow: 1px 2px 6px #9e9d9ded;*/
}

.mais_tarefas {
    margin-left: 350px;
    background-color: #04b513ed;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

main > .propagandas > div > a > img{
    width: 100%;
    height: 135px;
}

main > .propagandas > div > a > p{
    color: #000;
    font-size: 14px;
}
