* {
    box-sizing: border-box;
    margin: 0px;
    font-family: 'comfortaa';
}

@font-face {
    font-family: 'comfortaa';
    src: url('../font/confortaa.ttf') format('opentype'), url('../font/confortaa.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #6eb6ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > a > img {
    width: 50px;
    height: 50px;
}

main {
    margin-top: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -60px;
    width: 90%;
    height: 600px;
}

h1 {
    color: #fff;
    text-align: center;
    margin-top: 65px;
}

.story {
    background-color: transparent;
    width: 500px;
    height: 500px;
    padding-right: 20px;
    margin-top: -12px;
}

form {
    background-color: #1e90ff;
    display: flex;
    border-radius: 7px;
    flex-direction: column;
    padding: 45px;
    width: 320px;
    height: 360px;
    box-shadow: 0px 0px 10px #1359a0;
}

form > h2 {
    text-align: center;
    padding-bottom: 25px;
    font-weight: bold;
    color: #fff;
    font-family: 'comfortaa';
}

form > input {
    width: 100%;
    height: 30px;
    padding-left: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    outline: 1px solid #1e90ff;
    border: none;
}

label {
    margin-bottom: 2px;
    color: #fff;
    font-size: 14px;
    font-family: 'comfortaa';
}

::placeholder {
    font-family: 'comfortaa';
}

button {
    background-color: #1e90ff;
    width: 100%;
    height: 32px;
    margin-top: 5px;
    border: 2px solid #fff;
    font-family: 'comfortaa';
    font-size: 14px;
    color: #fff;
    border-radius: 8px;
}

button:hover {
    background-color: #fff;
    color: #1359a0;
    font-weight: 600;
}

.links {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

a {
    padding: 10px 0px 10px 0px;
    font-size: 11px;
    text-decoration: none;
    color: #fff;
    margin-bottom: 5px;
}