/*CONFIGURAÇÕES DO HEADER*/

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'comfortaa', 'rubik', 'comfortaa', 'sanserif';
}

@font-face {
    font-family: 'comfortaa';
    src: url('../font/confortaa.ttf') format('opentype'), url('../font/confortaa.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'josefinsans';
    src: url('../font/josefinsans.ttf') format('opentype'), url('../font/josefinsans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rubik';
    src: url('../font/rubik.ttf') format('opentype'), url('../font/rubik.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'disis';
    src: url('../font/dosis.ttf') format('opentype'), url('../font/dosis.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'baloo';
    src: url('../font/baloo.ttf') format('opentype'), url('../font/baloo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #1e90ff;
    overflow-y: scroll;
}

header {
    background-color: #1e90ff;
    display: flex;
    margin: auto auto;
    max-width: 100%;
    align-items: center;
    justify-content: center;
}
header > h1 {
    margin-right: 5%;
    font-size: 16px;
    color: #fff;
    text-shadow: 1px 1px 2px #3e3e3e;
    padding: 3px;
    font-family: 'dosis', 'comfortaa', 'sans-serif';
    font-weight: 475px;
}

header > nav {
    margin-right: 5%;
    display: flex;
    padding: 15px;
}

header > nav > a {
    color: #fff;
    font-weight: 550;
    padding:4px;
    font-size: 13px;
    margin: 0 3px;
    text-shadow: 1px 1px 2px #3e3e3e;
}

.pontos {
    font-size: 13px; margin-right: 5px;
    background-color: rgba(24, 178, 0, 0.79);
    padding: 2px;
    color: white;
    border-radius: 2px;
}

.btn_conta {
    margin-left: 5px;
    max-width: 80px;
    min-width: 80px;
    overflow: hidden;
}

.img_conta {
    width: 25px;
    height: 25px;
}

/*CONFIGURAÇÕES DO MAIN*/

/*CONFIGURAÇÕES DA PARTE DE TAREFAS*/

main {
    /*background-color: rgb(255, 0, 0);*/
    margin-bottom: 50px;
    max-width: 80%;
    margin: 50px auto;
    display: flex;
    justify-content: center;
}

.tarefas{
    /*background-color: aqua;*/
    display: block;
    width: 80%;
    /*margin: auto auto;*/
    margin-right: 10px;
}

.tarefas > h1{
   font-size: 12px;
   margin-bottom: 20px;
   text-shadow: 1px 1px 2px #3e3e3e;
   color: #fff;
   font-weight: bold;
   text-transform: uppercase;
   font-family: 'comfortaa', 'sanserif';
}

.tarefas > div{
    display: flex;
    width: 90%;
    height: 100px;
    margin: 1% 0px;
    background-color: #e6f2ff;
    border-radius: 5px;
    box-shadow: 0px 0px 15px #868585ed;
}

.task_desc {
    display: block;
    width: 75%;
    margin: auto auto;
    padding-left: 15px;
    overflow: hidden;
    /*background-color: aqua;*/
}

.task_desc > h3{
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bolder;
    color: #1e90ff;
    border-bottom: 2px solid #1a79d8;
    font-family: 'comfortaa', 'sanserif';
}

.task_desc > p{
    font-size: 13px;
    font-family: 'verdana', 'josefinsans', 'sanserif';
}

.task_join {
    display: block;
    width: 25%;
    margin-left: 15px;
    margin-top: 25px;
    padding-right: 15px;
    overflow: hidden;
    /*background-color: rgb(45, 99, 0);*/
}

.task_join > p {
    margin-bottom: 5px;
    font-size: 13px;
}

.task_join > button {
    border: none;
    padding: 5px;
    background-color: #04b513ed;
    box-shadow: 1px 2px 3px gray;
    border-radius: 5px;
}

.task_join > button:hover {
    background-color: #018c0ded;
}

.task_join > button > a {
    color: white;
}

/*CONFIGURAÇÕES DE PROPAGANDA*/
.propagandas{
    /*background-color: aqua;*/
    min-height: 580px;
    height: 684px;
    width: 200px;
    max-width: 200px;
    max-height: auto;
    overflow-y: scroll;
}

.propagandas > div {
    width: 98%;
    max-height: 35%px;
    margin: auto auto;
    margin-bottom: 4%;
    /*background-color: white;
    border-radius: 5px;
    box-shadow: 1px 2px 6px #9e9d9ded;*/
}

.mais_tarefas {
    margin-left: 350px;
    background-color: #04b513ed;
    color: white;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 2px 3px gray;
}

.mais_tarefas:hover {

    background-color: #018c0ded;
}

.propagandas > div > a > img{
    width: 100%;
    height: 135px;
    box-shadow: 0px 0px 15px #868585ed;
    border-radius: 5px;
}

.propagandas > div > a > p{
    color: #000;
    font-size: 14px;
    font-family: 'disis';
    font-weight: 600;
}

/*CONFIGURAÇÕES DA SCROLBARR*/

::-webkit-scrollbar {
    width: 2px;
    /*color: #26ff1e;*/
}

::-webkit-scrollbar-thumb {
    width: 2px;
    background-color: #1e90ff;
}

/*CONFIGURAÇÕES DO FOOTER*/

footer {
    background-color: #1e90ff;
    height: 100px;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer > h1 {
    display: flex;
    width: 20%;
    justify-content: center;
    text-align: center;
    color: #fff;
    padding: 5px;
    font-size: 14px;
    font-weight: 400;
    text-shadow: 1px 1px 2px #3e3e3e;
}

.redes_sociais {
    display: flex;
    justify-content: center;
    width: 20%;
}

.redes_sociais > a {
    padding: 2.5px;
    margin: 0 2.5px;
}

.redes_sociais > a > img {
    width: 30px;
    height: 30px;
}