/*CONFIGURAÇÕES DO HEADER*/

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'comfortaa', 'rubik', 'comfortaa', 'sanserif';
}

@font-face {
    font-family: 'comfortaa';
    src: url('../font/confortaa.ttf') format('opentype'), url('../font/confortaa.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'josefinsans';
    src: url('../font/josefinsans.ttf') format('opentype'), url('../font/josefinsans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rubik';
    src: url('../font/rubik.ttf') format('opentype'), url('../font/rubik.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'disis';
    src: url('../font/dosis.ttf') format('opentype'), url('../font/dosis.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'baloo';
    src: url('../font/baloo.ttf') format('opentype'), url('../font/baloo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    /*background-color: #6eb6ff;*/
    overflow-y: scroll;
    /*background-color: #8ec0f2;*/
    background-color: #e6f3ff;
}

header {
    /*background-color: #1e90ff;*/
    display: flex;
    margin: auto auto;
    max-width: 100%;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    padding-bottom: 80px;
}
header > h1 {
    margin-right: 5%;
    font-size: 20px;
    color: #1e90ff;
    font-weight: bold;
    border-bottom: 2px solid #14599d;
    padding: 3px;
    font-family: 'dosis', 'comfortaa', 'sans-serif';
    font-weight: 475px;
}

header > nav {
    margin-right: 5%;
    display: flex;
    padding: 15px;
}

header > nav > a {
    color: #000;
    font-weight: 550;
    padding:4px;
    font-size: 13px;
    margin: 0 3px;
    font-weight: bold;
}

.pontos {
    font-size: 13px; margin-right: 5px;
    background-color: rgba(24, 178, 0, 0.79);
    padding: 2px;
    color: white;
    border-radius: 2px;
}

.btn_conta {
    margin-left: 5px;
    max-width: 80px;
    min-width: 80px;
    overflow: hidden;
}

.img_conta {
    width: 25px;
    height: 25px;
}

/*CONFIGURAÇÕES DO MAIN*/

main {
    max-width: 1200px;
    margin: 0 auto;
}

/*CONFIGURAÇÕES DA PARTE DE TAREFAS*/

.principal {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.content {
    width: 100%;
    height: 70vh;
    margin-top: -40px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: #1e90ff;*/
}

.story {
    width: 45%;
    float: left;
    min-width: 300px;
    max-width: 500px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.story > a > img {
    width: 460px;
    transform: rotate(-10deg);
}

.question {
    width: 40%;
    height: 300px;
}

.question > p {
    color: #000;
    font-size: 1.1rem;
}

.title {
    color: #FFC727;
    font-size: 50px;
    margin-bottom: 10px;
}

.title1 {
    color: #1e90ff;
    font-size: 50px;
    margin-bottom: 10px;
}

.title2 {
    color: #92E3A9;
    font-size: 50px;
    margin-bottom: 10px;
}

.title3 {
    color: #ff725e;
    font-size: 50px;
    margin-bottom: 10px;
}

.div3 > a {
    background-color: #ff725e;
}
.question > div {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.question > div > p {
    margin-right: 50px;
    color: #fff;
    background-color: #455A64;
    box-shadow: 2px 2px 10px #3b4c54;
    padding: 10px;
    border-radius: 10px;
}

.question > div > a {
    padding: 8px;
    border-radius: 10px;
    background-color: #FFC727;
    box-shadow: 0px 0px 7px #836514;
    color: #6e5000;
    font-weight: bold;
}

.question > .div1 > a {
    padding: 8px;
    border-radius: 10px;
    background-color: #1e90ff;
    box-shadow: 0px 0px 7px #1e3772;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.question > .div2 > a {
    padding: 8px;
    border-radius: 10px;
    background-color: #92E3A9;
    box-shadow: 0px 0px 7px #50805e;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.question > .div3 > a {
    padding: 8px;
    border-radius: 10px;
    background-color: #FF725E;
    box-shadow: 0px 0px 7px #9b453a;
    color: #fff;
    font-weight: bold;
}

/*CONFIGURAÇÕES DE PROPAGANDA*/
.propagandas{
    display: none;
    margin: 0 auto;
    width: 90%;
    height: 180px;
    overflow-y: hidden;
    overflow-x: scroll;    
}

.propagandas > div {
    display: flex;
    padding: 5px;
    min-width: 195px;
}

.mais_tarefas {
    margin-left: 350px;
    background-color: #04b513ed;
    color: white;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 2px 3px gray;
}

.mais_tarefas:hover {

    background-color: #018c0ded;
}

.propagandas > div > a > img{
    width: 100%;
    height: 135px;
    box-shadow: 0px 0px 15px #868585ed;
    border-radius: 5px;
}

.propagandas > div > a > p{
    color: #ffffff;
    font-size: 12px;
    font-family: 'disis';
    font-weight: 400;
    text-transform: uppercase;
}

/*CONFIGURAÇÕES DA SCROLBARR*/

::-webkit-scrollbar {
    width: 1px;
    /*color: #26ff1e;*/
}

::-webkit-scrollbar-thumb {
    width: 2px;
    background-color: #ffffff;
}

/*CONFIGURAÇÕES DO FOOTER*/

footer {
    /*background-color: #1e90ff;*/
    height: 100px;
    padding-top: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer > h1 {
    display: flex;
    width: 20%;
    justify-content: center;
    text-align: center;
    color: #000;
    padding: 5px;
    font-size:16px;
    font-weight: bold;
}

.redes_sociais {
    display: flex;
    justify-content: center;
    width: 20%;
}

.redes_sociais > a {
    padding: 2.5px;
    margin: 0 2.5px;
}

.redes_sociais > a > img {
    width: 30px;
    height: 30px;
}